*{ /*RESETA O CSS PADRAO DO NAVEGADOR*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*responsive*/
}

body{
    background-image: url('/assets/logo.svg');
    color: whitesmoke !important; /*COR DAS LETRAS*/
    text-align: center;
}

body * {
    font-family: 'Roboto', sans-serif;
}


/*EFEITO PISCA: */
#name::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca {
  0%, 100% {
      opacity: 1;
  }
  50%{
      opacity: 0;
  }
}

.main-space{
  margin-top: 50px !important;
}
/*FOTO DO PERFIL*/
#photo{
    margin-top: 5em;
    height: 200px;
    height: 200px;
    border-radius: 50%;
    border-right: 3px solid;
    border-color: rgb(87, 255, 224);
    border-style: inset;
    
    
    
}

/*
img:hover {
    transform: scale(1.1);
  }
  
  img {
    transition: transform 0.3s;
  }
  
  img {
    opacity: 1;
    animation: appear 0.2s forwards
  }
*/


/*a{
    text-decoration: none !important;
    font-size: 20px;
    color: whitesmoke !important; 

}
*/
section{
    
    /*background-color: rgb(52, 10, 52);*/
    background-image: url('/assets/logo.svg');
    border-radius: 10px;
    border-radius: 10px;
    max-width: 200px;
    margin: auto;
    padding: 15px;
    
}

/* EFEITO DO MOUSE:   */
section:hover {
    transform: scale(1.1);
  }
  
  section {
    transition: transform 0.3s;
  }
  
  section {
    opacity: 1;
    animation: appear 0.2s forwards
  }

/*FIM DO EFEITO*/

/*SOBRE MIM*/
.sobre{
  
  background-color: rgb(46, 10, 78);
  padding: 100px;
  
}

#sobre{
  max-width: 500px;
  text-align: justify;
  margin: auto;

}


h2{
    padding-top: 100px;
    text-decoration: none !important;
    font-size: 20px;
    color: whitesmoke !important; 
    /*background-image:url('/img/logo.svg');*/   
    padding: 20px;

    margin: auto;
}

/*ID */
#projects{
  /*background-image: url('');*/
  margin-top: auto;
  background-color: rgb(30, 11, 75);
  padding: 100px;
  max-width: auto;
  
}
/*classe do H2 de PROJETOS*/


#cards{
    display: flex;
    padding-top: 40px;
    justify-content: center;
    gap: 10px; /*Gap faz o espaço entre os itens */
    
}

.card-img{
    border-radius: 7%;
    border: 3px solid;
    border-color: rgb(87, 255, 224);
    border-style: inset;
    
}

/* EFEITO DE ZOOM O CSS AO PASSAR O MOUSE:  */

.card img:hover {
    transform: scale(1.1);
  }

  .card img {
    transition: transform 0.3s;
  }
  
  .card {
    opacity: 1;
    animation: appear 0.2s forwards
  }

/*----------FIM DO EFEITO-------------*/



.card-body{
    /*background-color: rgb(3, 65, 90);*/
    /*background-image: url('/img/logo.svg');*/
    border-radius: 7px;
    max-width: 90px;
    margin: auto;
}


footer{
    border-top: none;
    /*background-color: rgb(6, 103, 116)*/
    background-image: url('/assets/logo.svg'); 
}

/*RESPONSIVIDADES */

@media (max-width: 700px) {
  section {
    max-width: 200px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 700px) {
  #cards {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}